.logo-link {
    font-family: var(--seondary-font);
    font-weight: var(--title-font-weight);
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    color: inherit;
}

.text-blue {
    color: var(--action-background);
}