.team-section {
    background: var(--secondary-background);
  }
  
.team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list__item {
  margin-left: 30px;
  margin-top: 30px;
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__role {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color);
}

.team-list__socials {
  margin-bottom: 30px;
}
