:root {
    --main-font: "Roboto";
    --seondary-font: "Raleway";
    --main-color: #212121;
    --secondary-color: #757575;
    --action-background: #2196f3;
    --action-color: #ffffff;
    --main-background-color: #ffffff;
    --main-font-size: 14px;
    --main-letter-spacing: 0.03em;
    --title-font-weight: 700;
    --site-title-color: #000000;
    --hero-background: #2f303a;
    --hero-action-background: #188ce8;
    --hero-shadow-color: rgba(0, 0, 0, 0.15);
    --advantages-background: #e5e5e5;
    --secondary-background: #f5f4fa;
    --card-border-color: #eeeeee;
    --footer-color: #ffffff;
    --header-border-color: #ececec;
    --icon-fill: #afb1b8;
  }